
<div class="container">
  <div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Current Conditions</h3>
        <div class="text-right">
          <small ><a href="http://forecast.io/" target="_blank">Powered by Forecast.io</a>
          </small>
        </div>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <td style="vertical-align: middle">
             <h1><i class="wi {{ weather_icon(condition=forecast.currently['icon']) }}"></i></h1>
            </td>
            <td id="forecast_current_conditions" style="vertical-align: middle">
              It is currently {{ forecast.currently['summary']|lower }}, with a temperature of {{ forecast.currently['temperature']|round(0)|int }}&#8451;. The relative humidity is {{ (forecast.currently['humidity'] * 100)|int }}%. Wind speed is {{ forecast.currently['windSpeed']|round(1) }} km/hr.
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div id="forecast_today_div" class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Today's Forecast</h3>
        <div class="text-right">
          <small ><a href="http://forecast.io/" target="_blank">Powered by Forecast.io</a>
          </small>
        </div>
      </div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <td style="vertical-align: middle">
              <h1><i class="wi {{ weather_icon(condition=forecast.daily['data'][0]['icon']) }}"></i></h1>
            </td>
            <td id="forecast_today_conditions" style="vertical-align: middle">
              {{ forecast.daily['data'][0]['summary']|replace(".","") }}, with a high temperature of {{ forecast.daily['data'][0]['apparentTemperatureMax']|round(0)|int }}&#8451; and a low temperature of {{ forecast.daily['data'][0]['apparentTemperatureMin']|round(0)|int }}&#8451;. There is a {{ (forecast.daily['data'][0]['precipProbability'] * 100)|int }}% chance of rain today.
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div> <!-- end forecast_today_div -->
  </div>
</div> <!-- end forecast -->