{% extends "base.html" %}

{% block title %} PulsePod - {{pod.name}}{% endblock %}

{% block head %}
    {{ super() }}
    <link href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="{{ url_for('static', filename='js/admin/message_list.js') }}"></script>
{% endblock %}


{% block page_content %}
<meta name="csrf-token" content="{{ csrf_token() }}">

<h2>{{pod.name}}</h2>

<table>
<tr>
<td>Owner</td><td>{{pod.owner.username}}</td>
</tr>
<tr>
<td>Current Mode</td><td>{{pod.mode}}</td>
</tr>
<tr>
<td>Last Message</td>{{ moment(pod.last).format('LLL') }}</td>
</tr>
</table>

<div>
{%if current_user.is_administrator() %}
<h4>Recent Messages from {{pod.name}}</h4>
    {% include '/admin/message_table.html' %}
{% endif %}


{% endblock %}