{% extends "base.html" %}

{% block title %} PulsePod - {{pod.name}}{% endblock %}

{% block head %}
    {{ super() }}
    <link href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="{{ url_for('static', filename='js/admin/message_list.js') }}"></script>
{% endblock %}


{% block page_content %}
<meta name="csrf-token" content="{{ csrf_token() }}">

<h2>{{pod.name}}</h2>
<h3>Currently writing to <a href="{{url_for('main.notebook_info',_id=pod.current_notebook.get_id())}}">{{pod.current_notebook.name}}</a></h3>
{%if current_user.is_administrator() %}
<form class="form-inline" role="form">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <select class="form-control">
        <option>{{pod.owner.username}}</option>
        <option>the</option>
        <option>owner</option>
        </select>
        <button type="submit" class="btn btn-primary disabled">Change Owner</button>
    </div>
</form>
{% endif %}

<h4>Current Mode is {{pod.mode}}.</h4>
<h4>Last Message recieved {{ moment(pod.last).format('LLL') }}</h4>


<h3>Previous Notebooks for {{pod.name}}:</h3>
<div class="notebooks">
    {% include 'main/notebook_list_tiles.html' %}
</div>

<div>
{%if current_user.is_administrator() %}
<h3>Recent Messages from {{pod.name}}</h3>
    {% include '/admin/message_table.html' %}
{% endif %}


{% endblock %}