{% for pod in pods.items %}
<div class="notebook">
    <div class="notebook-content">
        <h4>
            <a href="{{ url_for('main.pod_info', _id=pod.get_id() ) }}">
                 {{ pod.name }}  <span class="badge">#{{ pod.pod_id }}</span>
            </a>
            <br>
            <small>
                <span class="badge">{{ pod.observations }}</span>
            </small>
            <small>
                <span class="badge">{{ pod.owner.username }}</span>
            </small>
            <small>
            {% if pod.status == 'normal' %}
                <span id="pod_normal" class="label label-success">Normal</span>
            {% elif pod.status  == 'inactive' %}
                <span id="pod_inactive" class="label label-error">Inactive</span>
            {% elif pod.status == 'teenager' %}
                <span id="pod_teenager" class="label label-warning">Teenager</span>
            {% elif pod.status == 'asleep' %}
                <span id="pod_asleep" class="label label-default">Asleep</span>
            {% endif %}
            </small>
        </h4>
            <span>
            {% if pod.last %}
                &nbsp;Last heard from {{ moment(pod.last).fromNow(refresh=True) }}
            {% endif %}
            </span>
    </div>
</div>
{% endfor %}
