{% extends "base.html" %}

{% block title %} PulsePod - Home{% endblock %}

{% block page_content %}
<div class="page-header">
<h2>{% if current_user.is_authenticated() %}{{ current_user.username|capitalize }}'s 
    &nbsp;{% endif %}Notebook List
</h2>
</div>
<div class="notebooks">
{% for notebook in notebooks %}
<div class="notebook">
    <div class="notebook-content">
        <h3>
            <a href="{{ url_for('main.notebook_info', _id=notebook.get_id() ) }}">
                {{ notebook.name }}
            </a>
            <small>
            <span class="label label-{{ label_voltage(notebook.voltage) }}"> 
                <span class="glyphicon glyphicon-flash"></span>
                &nbsp;{{ notebook.voltage|round(1)|replace('None', 'unknown') }}
            </span>
            </small>
        </h3>
            <span>
            {% if notebook.last %}
                &nbsp;Last updated {{ moment(notebook.last).fromNow(refresh=True) }}
            {% else %}
                &nbsp;Waiting for first update
            {% endif %}
            </span>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
