{% extends "base.html" %}

{% block title %} PulsePod - Home{% endblock %}

{% block page_content %}
<div class="page-header">
<h2>{{ title }}
</h2>
</div>
<div class="notebooks">
{% if notebooks %}
{% for notebook in notebooks %}
<div class="notebook">
    <div class="notebook-content">
        <h3>
            <a href="{{ url_for('main.notebook_info', _id=notebook.get_id() ) }}">
                {{ notebook.name }}
            </a>
            <br>
            <small>
                <span class="badge">{{ notebook.observations }}</span>
            </small>
            <small>
            <span class="label label-{{ label_voltage(notebook.voltage) }}"> 
                <span class="glyphicon glyphicon-flash"></span>
                &nbsp;{{ notebook.voltage|round(1)|replace('None', 'unknown') }}
            </span>
            </small>
        </h3>
            <span>
            {% if notebook.last %}
                &nbsp;Last updated {{ moment(notebook.last).fromNow(refresh=True) }}
            {% else %}
                &nbsp;Waiting for first update
            {% endif %}
            </span>
    </div>
</div>
{% endfor %}
{% else %}
<h4> Bummer. </h4>
You haven't deployed a PulsePod and don't have any Notebooks of your own.
</div>
<div> 
While you wait for yours to arrive, you can still check out all our <a href="{{ url_for('main.public') }}">public</a> data instead!
</div>
{% endif %}
</div>
{% endblock %}
