{% for notebook in notebooks.items %}
<div class="notebook">
    <div class="notebook-content">
        <h3>
            <a href="{{ url_for('main.notebook_info', _id=notebook.get_id() ) }}">
                {{ notebook.name }}
            </a>
            <br>
            <small>
                <span class="badge">{{ notebook.observations }}</span>
            </small>
            <small>
            <span class="label label-{{ label_voltage(notebook.voltage) }}"> 
                <span class="glyphicon glyphicon-flash"></span>
                &nbsp;{{ notebook.voltage|round(1)|replace('None', 'unknown') }}
            </span>&nbsp;
            {% if notebook.public %}
                <span id="nbk_public" class="label label-success">Public</span>
            {% else %}
                <span id="nbk_public" class="label label-warning">Private</span>
            {% endif %}
            </small>
        </h3>
            <span>
            {% if notebook.last %}
                &nbsp;Last updated {{ moment(notebook.last).fromNow(refresh=True) }}
            {% else %}
                &nbsp;Waiting for first update
            {% endif %}
            </span>
    </div>
</div>
{% endfor %}
