{% extends "base.html" %}

{% block title %} PulsePod - {{notebook.name}}{% endblock %}

{% block head %}
    {{ super() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/jquery-ui-1.10.0.custom.css">
    <link href="/static/css/weather-icons.min.css" rel="stylesheet">
    <link href="/static/css/tagmanager.css" rel="stylesheet">
    <link href="/static/css/pod_info.css" rel="stylesheet">
    <link href="/static/css/rickshaw.min.css" rel="stylesheet">
    <link href="/static/css/chart.css" rel="stylesheet">
    <link href="/static/css/ladda.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="/static/js/spin.min.js"</script>
    <script src="/static/js/ladda.jquery.min.js"</script>
    <script src="/static/js/ladda.min.js"</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="/static/js/tagmanager.js"></script>
    <script src="/static/js/notebook_info.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.4.6/rickshaw.min.js"></script>
    <script src="/static/js/Rickshaw.Graph.RangeSlider.Preview.js"></script>
    <script src="/static/js/Rickshaw.Graph.RangeSlider.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js"></script>
{% endblock %}

{% block page_content %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="nbk_id" content="{{ notebook.id }}">
<meta name="nbk_tags" content="{{ notebook.tags|join(',') }}">
<meta name="lat" content="{{ notebook.lat() }}">
<meta name="lng" content="{{ notebook.lng() }}">

<div class="page-header">
{% if current_user.can_edit(notebook) %}
  <h2>
      <a href="#" id="notebook_name" data-type="text" data-pk="{{notebook.id}}"  data-url="{{ url_for('edit.nbk_name') }}" 
         data-title="Change this notebook name">{{notebook.name}}</a>
{% else %}
  <h2>{{notebook.name}}
{% endif %}
  <small>(last seen {{ moment(notebook.last).fromNow(refresh=True) }})</small></h2>



{% if current_user.can_edit(notebook) %}
<input type="text" name="tags" placeholder="Tags" class="tm-input"/>
{% else %}
  <h4>
  {% for tag in notebook.tags %}
    <span class="label label-default label-large">{{ tag }}</span>
  {% endfor %}
  </h4>
{% endif %}
 </div>
{% if current_user.can_edit(notebook) and notebook.event_sensor.name is not defined %}
    {% for sensor in sensors %}
      {% if sensor.variable == 'Counts' and current_data[sensor.get_id()] is defined %}
          <div id='event-alert' class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           Hi! It looks like you've connected an event sensor. Is it measuring <a href="javascript:void(0);" onclick="set_nbk_event_sensor('{{notebook.nbk_id}}','Rainfall','{{sensor.get_id()}}','{{notebook.name}}')"><button type="button" class="btn btn-success">Rainfall</button></a> or is it measuring 
            <a href="javascript:void(0);" onclick="set_nbk_event_sensor('{{notebook.nbk_id}}','Flow','{{sensor.get_id()}}','{{notebook.name}}')"><button type="button" class="btn btn-success">Flow</button></a>?
          </div>
          <br>
      {% endif %}
    {% endfor %}
{% endif %}

<div id="forecast" class="container">
</div> 

<!-- Nav tabs -->
<div>
<ul class="nav nav-tabs" role="tablist">
<li class="active"><a href="#Data" role="tab" data-toggle="tab">Data</span></a></li>
  <li><a href="#Location" role="tab" data-toggle="tab">Location</a></li>
  <li><a href="#Pod_Info" role="tab" data-toggle="tab">Pod Info</a></li>
  <li><a href="#Notes" role="tab" data-toggle="tab">Notes</a></li>
  <li><a href="#Downloads" role="tab" data-toggle="tab">Downloads</a></li>
</ul>
</div>

<meta id="notebook-data" data-json="{{json}}">

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="Location">
    <table id="location_table" class="table .table-striped">
        <thead>
        <tr>
            <th>Address</th><th>Latitude</th><th>Longitude</th><th>Elevation</th>
        </tr> 
        </thead>
        <tbody>
            <tr>
                <td>{{notebook.address['formatted_address']}}</td>
                <td>{{notebook.location['coordinates'][1]|round(2)}}</td>
                <td>{{notebook.location['coordinates'][0]|round(2)}}</td>
                <td>{{notebook.elevation['elevation']|round(0)}} &#177; {{notebook.elevation['resolution']|round(0)}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="tab-pane active text-center" id="Data">
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Select a sensor to view your data.
      </div>
      <div id="sensor_buttons" class="btn-group btn-xs data-btn">
        {% for sensor in notebook.sensors %}
            {% if 'event' in sensor.name and notebook.event_sensor.name is defined %}
              <!-- Handle Event Sensors Differently. -->
              <button id="plot_{{sensor.id}}" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="{{sensor.context}} {{sensor.variable}}" onclick="plot_data_ajax('{{notebook.nbk_id}}','{{sensor.id}}','{{ notebook.name }}','{{notebook.event_sensor.context}} {{notebook.event_sensor.variable}} ({{notebook.event_sensor.unit|default('-')}})')">
              <div id="label_{{sensor.id}}">
                {{notebook.event_sensor.context}} {{notebook.event_sensor.variable}}
              </div>
            {% else %}
            <!-- All other sensors handled the same way -->
              <button id="plot_{{sensor.id}}" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="{{sensor.context}} {{sensor.variable}}" onclick="plot_data_ajax('{{notebook.nbk_id}}','{{sensor.id}}','{{ notebook.name }}','{{sensor.context}} {{sensor.variable}} ({{sensor.unit|default('-')}})')">
                <div id="label_{{sensor.id}}">{% if sensor.variable_short %}
                  {{sensor.context}} {{sensor.variable_short}}
                {% else %}
                  {{sensor.context}} {{sensor.variable}}
                {% endif %}
                </div>
            {% endif %}
            {% if current_data[sensor.get_id()] %}
              <div id="data_{{sensor.id}}">
              ({{ current_data[sensor.get_id()]|round(2) }}&nbsp;
                {% if 'event' in sensor.name and notebook.event_sensor.name is defined %}
                  {{ notebook.event_sensor.unit|safe }}
                {% else %}
                  {{ sensor.unit|safe }}
                {% endif %}
                )
              </div>
            {% endif %}
            </button>
        {% endfor %}
      </div>
      <h4 id="chart-title">{{notebook.name}} Observations</h4>
      <div class="row centered_chart">
        <div id="chart_container" style="width: 550px; height: 360px">
          <div id="y_axis"></div>
          <div id="chart"></div>
          <br>
          <div id="slider"></div>
        </div>
      </div>
  </div>
  <div class="tab-pane" id="Pod_Info">
    <table id="pod_info_table" class="table .table-striped">
      <thead>
        <tr>
            <th>Pod</th>
            <th>Pod Id</th>
            <th>Radio</th>
            <th>Mode</th>
            <th>Number</th>
        </tr>
      </thead>
        <tbody>
            <tr>
                <td><a href="{{ url_for('main.pod_info', _id=notebook.pod.get_id()) }}">{{notebook.pod.name}}</a></td>
                <td>{{notebook.pod.pod_id}}</td>
                <td>{{notebook.pod.radio|upper}}</td>
                <td>{{notebook.pod.mode}}</td>
                <td>{{notebook.pod.number}}</td>
            </tr>
            <tr>
              <td>{{notebook.pod.about}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="tab-pane" id="Notes">
    <br>
    Some functionality will be added here to let users create time-stamped notes related to each deployment.
    <br>
    <br>
    <br>
  </div>
  <div class="tab-pane" id="Downloads">
    <br>
      <a href=# id="xlsButton" onclick="create_notebook_xls('{{notebook.get_id()}}')" class="btn btn-primary btn-s ladda-button" data-style="expand-right" data-color="green" data-size="s"><span class="ladda-label">Generate .xls file</span>
      </a>
    <br>
    {%if xlsx %}
      <a href="/static/xlsx/{{ notebook.nbk_id}}.xlsx">
        <button type="button" class="btn btn-default navbar-btn">xls</button>
      </a>
    {% endif %}
      &nbsp;
      <a href="#">
        <button type="button" class="btn btn-default navbar-btn">csv</button>
      </a>
  </div>
</div>



{% endblock %}