{% extends "base.html" %}

{% block title %} PulsePod - {{pod.name}}{% endblock %}

{% block head %}
    {{ super() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/static/css/pod_info.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="/static/js/pod_info.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
<h2>
    <a href="#" id="notebook_name" data-type="text" data-pk="{{pod.id}}" 
       data-url="{{ url_for('edit.nbk_name') }}" 
       data-title="Change this notebook name">{{pod.nbk_name}}</a>
    
</h2>
</div>
<div>

{% if data %}
<table id="data_table" class="display">
<thead>
    <tr>
    <th>Date</th><th>Variable</th><th>Value</th>
    </tr>
</thead>
<tfoot>
    <tr>
    <th>Date</th><th>Variable</th><th>Value</th>
    </tr>
</tfoot>
<tbody>
{% for item in data %}
<tr>
    <td data-order="{{item.time_stamp}}" >{{ moment(item.time_stamp).format('LLL') }}</td>
    <td>{{ item.sensor_name }}</td>
    <td>{{ item.value|round(1) }}</td>
</tr>
{% endfor %}
</tbody>
</ul>
{% else %}
No data reported for this deployment
{% endif %}
{% endblock %}