{% extends "base.html" %}

{% block title %} PulsePod - Public Notebooks{% endblock %}

{% from 'macros/paginate.html' import render_pager as pager %}

{% block page_content %}
<div class="page-header">
<h2>{{ title }}</h2>
</div>
<div class="notebooks">
{% if notebooks.items %}
    {% include 'main/notebook_list_tiles_pager.html' %}
    {{ pager(notebooks, 'main.public') }}
{% else %}
<h4> Welcome! </h4>
<div>You haven't deployed a PulsePod and don't have any Notebooks of your own.
</div> 
<div>
But you can still check out all our public data at the link below.
<div class="notebook">
    <a href="{{ url_for('main.public') }}">
    <button>Public Data</button>
    </a>
</div>
</div>
{% endif %}
</div>
{% endblock %}
