{% extends "base.html" %}

{% block title %} PulsePod - {{ current_user.username }}'s Notebooks{% endblock %}

{% block page_content %}
<div class="page-header">
<h2>{{ title }}
</h2>
</div>
<div class="notebooks">
{% if notebooks.items %}
    {% include 'notebook_list_items.html' %}
    <ul class="pager">
        {% if notebooks.has_next %}
            <li class="previous">
                <a href="{{ url_for('main.notebooks', page=notebooks.next_num) }}">&larr; Older</a>
            </li>
        {% else %}
            <li class="previous disabled">
                <a href="#">&larr; Older</a>
            </li>
        {% endif %}
        {% if notebooks.has_prev %}
            <li class="next">
                <a href="{{ url_for('main.notebooks', page=notebooks.prev_num) }}">&rarr; Newer </a>
            </li>
        {% else %}
            <li class="next disabled">
                <a href="#">&rarr; Newer </a>
            </li>
        {% endif %}
    </ul>
{% else %}
<h4> Welcome! </h4>
<div>You haven't deployed a PulsePod and don't have any Notebooks of your own.
</div> 
<div>
But you can still check out all our public data at the link below.
<div class="notebook">
    <a href="{{ url_for('main.public') }}">
    <button>Public Data</button>
    </a>
</div>
</div>
{% endif %}
</div>
{% endblock %}
