{% extends "base.html" %}

{% block title %} PulsePod {% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/user.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js"></script>
{% endblock %}

{% block page_content %}
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="page-header">
    <h1>{{ user.username }}'s Profile Page</h1>
    <p>
        {% if user.name %}{{ user.name}}{% endif %}
    </p>
    {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    <p>
        Member since {{ moment(user.member_since).format('L') }}.
        Last seen {{ moment(user.last_seen).fromNow() }}.
    </p>
    <div class="row">
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="active">
                <a href="#Notebooks" role="tab" data-toggle="tab">
                    <span class="badge pull-right">{{ user.notebooks }}</span>
                    Notebooks
                </a>
            </li>
            <li>
                <a href="#Pods" role="tab" data-toggle="tab">
                    <span class="badge pull-right">{{ user.pods }}</span>
                    Pods
                </a>
            </li>
            <li>
                <a href="#Data" role="tab" data-toggle="tab">
                    <span class="badge pull-right">{{ user.observations }}</span>
                    Data
                </a>
            </li>
        </ul>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-center">
            <h4>API Key:</h4>
        </div>
        <div class="col-md-4 text-center">
            <h4><mark><span id='api_key'>{{ user.api_key }}</span></mark></h4>
        </div>
        <div class="col-md-4 text-center">
            <a href="javascript:void(0);" onclick="reset_api_key('{{user.id}}')">
                <button type="button" class="btn btn-warning">Reset API Key</button>
            </a>
        </div>
    </div>  
    <h4>Access the PulsePod API using your API key</h4>

    <strong>From the command line:</strong>
    <br>
    Get all your data, plus any public data:
    <pre> > curl --user <span class='api_key'>{{ user.api_key }}</span>:empty https://api.pulsepod.io/data</pre>
    Get all your notebooks, plus any public notebooks:
    <pre> > curl --user <span class='api_key'>{{ user.api_key }}</span>:empty https://api.pulsepod.io/notebooks</pre>
    Get all your pods (only pods owned by you are returned):
    <pre> > curl --user <span class='api_key'>{{ user.api_key }}</span>:empty https://api.pulsepod.io/pods</pre>
    Find all the data near a specific coordinate [longitude, latitude]:
    <pre> > curl --user <span class='api_key'>{{ user.api_key }}</span>:empty -X GET https://api.pulsepod.io/data --data 'where={"loc": {"$near": {"$geometry":{"type": "Point", "coordinates": [-121.8, 38.55 ]}}}}'</pre>
</div>
{% endblock %}

